section.productos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article.producto {
	width: 30%;
	padding: 0.6rem;
}

div.imagen-producto img {
	width: 100%;
}

div.info-producto {
	display: flex;
	flex-wrap: wrap;
}

div.nombre-producto, div.precio-producto {
	width: 50%;
	text-align: center;
}

div.descripcion-producto {
	text-align: justify;
}

div.botones {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.botones form button {
	padding: 0.2rem 0.6rem;
}